<h1>About The Watercolor Club ArtStream</EM></h1>
<br>
<div class="row">
	<div class="col-md-6">
		<p>
			<em>ArtStream</em> is an invitational and crowdsourced art exhibit&mdash;a show of dynamic collective concioussness and art activity. It is the virtual home of The Watercolor Club, originated by Lori Ortiz and Jeffrey Cyphers Wright in the summer of 2013. For the full experience, join us on the <a href="https://www.facebook.com/groups/631672933518619/">Facebook page</a>. The Club held RLEvents in a New York City, East Village community garden until real estate interests prevailed. Club members are invited to show and share all manner of on-topic artwork on <em>ArtStream</em>. The topic is discovery of and through watercolor.
		</p>
		<p>
			Thank you for participating. Many thanks to Mattan Griffel and <a href="http://onemonthrails.com/signup?discount_code=AahAdX">One Month Rails</a>, the source of this project. 
		</p>
		
		<p>
			Lori Ortiz<br>
			Admin<br> 
			1.24.14
		</p>
	</div>
	<div class="col-md-6 ">
		<p> The public artstream is always handy for viewing on small devices. As a logged in User, you have the option to create, edit, or delete the images you "Pin."</p>
		<ol>
			<li><b>Sign up</b> or <b>Sign in</b>.</li>
			<li>Click on "<b>+ New Pin</b>" in the top bar. Press the "<b>Choose File</b>" button to bring up your computer's finder. Search for the image you want to add.</li>
			<li>Type a description of that image. Press "<b>Create Pin</b>." </li>
			<li>Contact me, lori (at) loriortiz.com, for help or feedback.</li>
		</ol>
		<small>
				<em>ArtStream</em> is moderated. We may remove Pins at our discretion.  Users accept all responsibility, rights, and permissions for their content. <em>ArtStream</em> content should not be found elsewhere on the web without permission and credit. We don't publish, share, or sell Users' contact information, although, we may send an email to a User related to <em>ArtStream</em>.  
		</small>
	</div>
</div>

